@import 'assets/scss/style.scss';

.nav-outside.mob-backdrop {
  &.mob-fixed .pcoded-navbar {
    z-index: 1032;
  }

  ~.pcoded-outside {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1031;
      background: rgba(0, 0, 0, 0.25);
    }
  }
}

.pcoded-header .dropdown .notification .noti-body li {
  width: 100%;
}

.header-chat .h-list-footer .input-group {
  .btn-attach {
    padding: 0;
    width: 35px;
    height: 35px;
  }

  .btn-send {
    top: 7px;
  }
}

.main-search {
  padding: 16px 12px;
}

@media only screen and (max-width: 991px) {
  .nav-outside {
    ~ {

      .pcoded-header,
      .pcoded-main-container {
        margin-left: 0;
      }
    }

    &.mob-fixed~.pcoded-main-container {
      padding-top: 142px;
    }
  }

  .pcoded-header .navbar-nav>li:last-child {
    padding-right: 35px;
  }
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}

.img-preview {
  overflow: hidden;
}

.img-preview-section-container {
  display: none;
}

.carousel-inner {
  overflow: visible;
  z-index: 1050;
}

@media only screen and (max-width: 991px) {

  .pcoded-header,
  .pcoded-main-container {
    margin-left: 0;
    width: 100%;
  }
}

.card-header .card-header-right {
  .dropdown-menu.show {
    transform: none !important;
    right: 0 !important;
    top: 100% !important;
    left: auto !important;
  }
}

header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed {
  background: $theme-background;
}

header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .b-brand .b-title {
  color: $menu-light-text-color;
}

header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span,
header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span:after,
header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span:before {
  background-color: $menu-light-text-color;
}

header.navbar.pcoded-header.navbar-expand-lg.header-default .mobile-menu.on span {
  background-color: transparent;
}

@media only screen and (max-width: 991px) {
  .pcoded-navbar {
    z-index: 1072;
  }

  header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed {
    background: $header-dark-background;
  }

  header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .b-brand .b-title {
    color: $header-dark-text-color;
  }

  header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span,
  header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span:after,
  header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span:before {
    background-color: $header-dark-text-color;
  }

  header.navbar.pcoded-header.navbar-expand-lg.header-default .mobile-menu.on span {
    background-color: transparent;
  }
}

.user-activity .tab-content {
  padding-top: 5px;
}

.user-activity .card {
  box-shadow: none;
  --bs-card-bg: transparent;
}

.form-control[type='file'] {
  height: auto;
  padding-left: 0.45rem;
}

.table {
  .badge {
    margin-right: 0.25rem;
  }
}

.mb-3.row {

  >.col,
  .col.d-flex {
    @media (max-width: 768px) {
      margin-top: 5px;
      margin-bottom: 5px;

      &:nth-child(2) {
        flex-direction: column;
        text-align: left;

        >span {
          justify-content: flex-start !important;

          .form-control {
            max-width: 150px;
          }
        }

        .btn {
          margin-top: 8px;
          max-width: fit-content;
          margin-left: 0 !important;
        }
      }
    }
  }
}

.row.justify-content-between>.col>.d-flex.align-items-center strong {
  margin: 0 5px;
}

@media (max-width: 575px) {

  .row.justify-content-between>*[class*='col-'],
  .row.justify-content-between>.col {
    flex: 100%;

    .pagination {
      justify-content: flex-start !important;
    }

    &:first-child {
      margin-bottom: 8px;
    }

    >.d-flex.align-items-center {
      input {
        width: 40px !important;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

td {
  img.wid-40 {
    max-width: 40px;
  }
}

.new-cust-card {
  @media (max-width: 1024px) {
    .d-inline-block {
      width: calc(100% - 55px);
    }

    .align-middle .status {
      position: relative;
      top: 0;
      left: 0;
    }
  }
}

.table th,
.table td {
  vertical-align: middle;
}

.cover-img-block {
  overflow: hidden;
  z-index: 1;
}

.user-about-block {
  position: relative;
  z-index: 5;
}

@media only screen and (max-width: 1200px) {
  .user-card .user-about-block {
    margin-top: -10px;
  }
}

.alert {
  .float-right {
    margin-left: 8px;
    float: none !important;
  }
}

@media (max-width: 768px) {
  .modal-open .modal {
    padding-left: 0 !important;
  }
}

.carousel.slide {
  overflow: hidden;
}

.table.table-bordered.table-hover {
  th {
    select.form-control {
      min-width: 140px;
    }
  }
}

.actions-btns {
  .edit {
    color: #007bff;
    cursor: pointer;
  }

  .delete {
    color: #f44236;
    cursor: pointer;
  }
  .view {
    color: #898787;
    cursor: pointer;
  }
}

.danger-txt {
  color: #f44236;
}

.dark-txt {
  color: #000;
}

.custom-select,
.form-control {
  background-color: transparent;
}

.icon-plus-circle {
  color: #212529;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
}

.icon-x-circle {
  font-size: 20px;
  cursor: pointer;
}

.btn-success {
  background-color: #168350;
  border-color: #168350;

  &:hover {
    background-color: #0f603a;
    border-color: #0f603a;
  }
}

.tab-content {
  padding: 15px;
}

.react-datepicker-popper {
  z-index: 9999999 !important;
}

.custom-tabs.nav-pills {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 1rem;

  button {
    color: #000;
    font-weight: 700;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;

    &.active {
      color: #fff;
      border-color: #2563EB;
      background-color: #2563EB;
      box-shadow: none;
    }
  }

  +.tab-content {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

.dock-form {}

.react-datepicker-wrapper {
  width: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-image: url('assets/images/calendar.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.shipping-queue-item {
  padding: 15px 0 !important;
  background-color: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  margin-bottom: 15px;

  .shipping-number {
    font-size: 16px;
    color: #000;
    font-weight: 700;
  }

  .dock-number {
    font-size: 15px;
    color: #6B7280;
    font-weight: 700;
  }

  .shipping-time {
    font-size: 15px;
    color: #6B7280;
    font-weight: 700;
  }
}

.table-card {
  box-shadow: none;
  background: transparent;

  thead {
    tr {
      th {
        border: none;
        font-size: 12px;
        color: #6B7280;
        text-transform: uppercase;
        padding: 15px 0.75rem;
        background: #F9FAFB;
      }
    }
  }
}

.form-label {
  font-size: 13px;
  color: #6B7280;
  font-weight: 700;
}

.form-control {
  color: #000;
  font-weight: 700;

  &:focus {
    color: #000;
    box-shadow: none;
  }
}

#reader {
  height: 250px;
  max-width: 100%;

  video {
    border: 6px solid #00ffab;
  }
}

.instructions-card {
  padding: 15px;
  background-color: #EFF6FF;
  border: 1px solid #E0F2FE;
  border-radius: 8px;

  h6 {
    color: #1E40AF;
    font-size: 16px;
    font-weight: 700;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      color: #1E40AF;
      margin-bottom: 5px;
    }
  }
}

.progress {
  background-color: #E5E7EB;
  border-radius: 100px;

  .progress-bar {
    box-shadow: none;
    border-radius: 100px;

    &.bg-success {
      background-color: #10B981 !important;
    }
  }
}

.progress-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

.pallets-items {
  h6 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    color: #000 !important;
    margin-bottom: 10px;
    border-radius: 5px;

    &.item-danger {
      border: 1px solid transparent;
      background-color: #ebc3c3;

      span {
        font-size: 20px;
        color: #065F46;
      }
    }
    &.item-success {
      border: 1px solid transparent;
      background-color: #d1e7dd;

      span {
        font-size: 20px;
        color: #065F46;
      }
    }
  }
}

.select-group {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 68%;
    right: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-image: url('assets/images/chevron-down.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.btn-primary {
  background-color: #2563EB;
  border-color: #2563EB;

  &:hover {
    background-color: #1D4ED8;
    border-color: #1D4ED8;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #1D4ED8;
}

#reader__dashboard {
  button {
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
  }

  #html5-qrcode-button-camera-permission,
  #html5-qrcode-button-camera-start {
    background-color: #2563EB;
    border-color: #2563EB;
  }

  #html5-qrcode-button-camera-stop {
    background-color: #f44236;
    border-color: #f44236;
  }

  #html5-qrcode-button-file-selection {
    padding: 5px;
    background-color: #2563EB;
    border-color: #2563EB;
  }
}
.text-bold {
  font-weight: 700;
}
.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}
.required {
  color: #f52011;
}
.play-pause-btns {
  span {
    cursor: pointer;
    display: none;
    &.active {
      display: block;
    }

  }

  & + .stop {
    display: none;
    cursor: pointer;
  }

  &.playing + .stop {
    display: block;
  }
}

.disabled {
  pointer-events: none !important;
}
